/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    transition: opacity 0.5s ease-in-out;
    background-color: #1a202c;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    align-items: center;
}

.fade-in {
    opacity: 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Auto-responsive */
    justify-content: center; /* Centers the cards horizontally */
    gap: 30px; /* Spacing between cards */
}

.game-card {

    background: none; /* Remove background if needed */
    padding: 0;
    box-shadow: none;
    display: inline-block;
    width: auto;
    height: auto;
}

.game-card img {
    width: 80%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.game-card:hover img {
    transform: scale(1.1); /* Slightly larger when hovered */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.button-hover {
    display: inline-block;
    background: #ffbe0b;
    color: black;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.button-hover:hover {
    transform: scale(1.1);
    background: #faa307;
    box-shadow: 0px 4px 10px rgba(255, 190, 11, 0.3);
}

.white-space-nowrap {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding-bottom: 0px;
    gap: 20px;
    width: 100%;
}


/* Ensures smooth scrolling experience if content overflows */
.white-space-nowrap::-webkit-scrollbar {
    height: 8px;
}

.white-space-nowrap::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.white-space-nowrap::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1, h2, h3 {
    color: #f4f4f4;
}

footer {
    background: #2d3748;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}

.bg-yellow-500.text-black.py-16.text-center {
    margin-top: 1200px; /* Adjust to push the "Welcome Bonus" lower */
}

#signup {
    margin-top: 50px; /* Adjust to push the "Sign Up" section lower */
}
