.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 40px; /* Increased padding */
  border-radius: 8px;
  width: 300px;
  height: 400px; /* Increased height */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is spaced out */
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; /* Allow form to grow and take available space */
  justify-content: flex-end; /* Align form content to the bottom */
}

.modal-content label {
  margin-bottom: 5px; /* Reduced margin */
  width: 100%;
  text-align: left;
}

.modal-content input {
  padding: 8px;
  margin-top: 0px;  /* Reduced margin */
  margin-bottom: 0px;  /* Reduced margin */
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 100%;
  box-sizing: border-box;
}

.modal-content .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px; /* Add margin between inputs and buttons */
}

.modal-content button {
  padding: 10px;
  background-color: #3b3ec0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px; /* Add margin between buttons */
}

.modal-content button:hover {
  background-color: #ff6347;
}

.close-button {
  margin-top: 10px;
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
}